.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 480px;
  width: 100%;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  padding-top: 110px;
  padding-bottom: 20px;
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: calc(25 / 18);
  background-image: linear-gradient(
      180deg,
      rgba(30, 30, 30, 0) 0%,
      #1e1e1e 100%
    ),
    linear-gradient(0deg, rgba(30, 30, 30, 0.8), rgba(30, 30, 30, 0.8)),
    url(https://bespoke-rug.com/assets/images/common/hero_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.heroTitle {
  font-size: 32px;
  line-height: calc(38 / 32);
  margin-bottom: 25px;
  font-weight: 600;
  color: white;
}
.heroTitle > span {
  color: #d7002e;
}
.heroList > li {
  margin-bottom: 25px;
  color: white;
  text-align: justify;
  display: flex;
}

.heroList li:before {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #d7002e;
  content: "✔";
  padding-right: 7px;
}
.heroBtn {
  padding: 5px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #d7002e;
  color: white;
  outline: none;
  border: none;
  gap: 10px;
  border-radius: 3px;
}
@media screen and (min-width: 767.98px) {
  .container {
    min-width: 768px;
    /* height: 100vh; */
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* margin-left: auto;
    margin-right: auto;
    padding-top: 110px;
    padding-bottom: 20px;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 20px;
    font-size: 18px;
    line-height: calc(25 / 18);
    background-image: linear-gradient(
        180deg,
        rgba(30, 30, 30, 0) 0%,
        #1e1e1e 100%
      ),
      linear-gradient(0deg, rgba(30, 30, 30, 0.8), rgba(30, 30, 30, 0.8)),
      url(https://bespoke-rug.com/assets/images/common/hero_bg.jpg); */
  }

  .heroTitle {
    font-size: 32px;
    line-height: calc(38 / 32);
    margin-bottom: 25px;
    font-weight: 600;
    color: white;
  }
}

@media screen and (min-width: 1199.98px) {
  .container {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-width: 1200px;
    width: 100vw;
    /* height: 100vh; */
    /* margin-left: auto;
    margin-right: auto; */
    /* padding-top: 110px; */
    /* padding-bottom: 20px;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 20px; */
    /* font-size: 18px; */
    /* line-height: calc(25 / 18);
    background-image: linear-gradient(
        180deg,
        rgba(30, 30, 30, 0) 0%,
        #1e1e1e 100%
      ),
      linear-gradient(0deg, rgba(30, 30, 30, 0.8), rgba(30, 30, 30, 0.8)),
      url(https://bespoke-rug.com/assets/images/common/hero_bg.jpg); */
    /* background-repeat: no-repeat;
    background-size: cover; */
  }
}
