h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Roboto", sans-serif;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  max-width: 1200px;
  /* padding-top: 40px; */
  /* width: 100%;
  margin: 0px auto;
  padding: 0 15px; */
}
/* 
.container {
  max-width: 480px;
  width: 100%;
  padding: 15px 15px;
  position: relative;
}

@media screen and (min-width: 767.98px) {
  .container {
    padding: 0 15px;
    max-width: 768px;
  }
}

@media screen and (min-width: 1199.98px) {
  .container {
    padding: 0 15px;
    max-width: 1200px;
  }
}
code {
  font-family: inherit;
} */
