.container {
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
  width: 480px;
  width: 100%;
  /* height: 100vh; */
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  padding-bottom: 20px;
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: calc(25 / 18);
}
.idealTitle {
  color: black;
  font-size: 28px;
  line-height: calc(36 / 28);
  font-weight: 700;
}
.idealTitle > span {
  color: #d7002e;
}
.slider {
  display: flex;
  flex-direction: row;
  gap: 20px;
  list-style: none;
  margin: 0 auto;
  width: 80vw;
}
.next {
  fill: black;
}

.prev {
  fill: black;
}
.navBtn {
  outline: none;
  border: none;
  background-color: transparent;
  justify-content: center;
  align-items: center;
}
.navSection {
  display: flex;
  flex-direction: row;
}
